.desingPacksPage {
  background-color: #171716;
  height: 100vh;
}

.custom-flexDesingpage {
  display: flex;
  align-items: center;
  height: 66vh;
}

.custom-question {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .custom-question {
    position: static;
  }

  .margin-top-custom {
    margin-top: unset;
  }
}
