.PageOurWork {
  background: #1e1e1e;
  height: 100vh;
  padding-top: 3rem;
}

.PageOurWork__title {
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}

.PageOurWork--yellow {
  color: #ccff66;
}

@media screen and (min-width: 1024px) {
  .PageOurWork-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 320px);
    align-items: center;
  }
}
