.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-tarjetas{
    margin: 5px;
    background-color: #05668D;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 10px 0px #0d8de2;
}
.card-body{
    width: 250px;
    height:250px;
}
h2{
    font-weight: bolder;
}
.include{
    color: hsl(80, 100%, 70%);
}
.precio{
    background-color: hsl(80, 100%, 70%) ;
    margin-top: 130px;
}
.costo{
    color: #05668D;
}