.icono-question {
  width: 75px;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1020px) {
  .icono-question {
    top: 5%;
    left: 7%;
    width: 140px;
  }
}
