.icono-question {
  width: 75px;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 1020px) {
  .icono-question {
    top: 13%;
    left: 7%;
    width: 93px;
  }
}
