.LogoContact {
    display: none;
}

@media screen and (min-width: 1024px) {

    .LogoContact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .LogoContact__zIcon {
        padding-bottom: 2rem;
    }
}