.SocialMedia {}

.SocialMedia__list {
    text-align: center;
    margin-top: 5rem;
}

.SocialMedia__type {
    color:
        #CCFF66;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 400;
}

.SocialMedia__description {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    max-width: 171px;
    margin: 0 auto;
    margin-top: 3rem;
}