html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 65.2%;
  min-width: 320px;
}

/** {
    border: 1px solid rgb(255, 0, 0);
}*/

/* * {
  border: 1px solid rgb(255, 0, 0);
} */

body {
  color: #ffffff;
  font-family: "Saira", sans-serif;
  background: #1e1e1e;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1300px;
  /* min-width: 320px; */
  margin: 0 auto;
}

/* helpers */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-yellow {
  background: linear-gradient(0deg, #ccff66, #ccff66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
