.containerDown{
    width: 100%;
    height: 17vh;

    background-color: #171716;
    bottom: 0;
    position: fixed;
    display: flex;
}

.buttonContainer{
    width: 100%;
    background-color: #171716;
    display: flex;
    justify-content:space-around;
}

.cssButton{
    font-family: Saira, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(77, 174, 213, 1);
    background-color: black;
    border: 4px solid rgba(204, 255, 102, 1);
    border-radius: 2rem;
    height: 27%;
    width: 40%;
    cursor: pointer;
    
}

.bar {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    justify-content: center;
}


/*///                                      DESIGN PC                             ///*/
@media screen and (min-width: 1024px) {
    

    .buttonContainer{
        width: 100%;
        height: 70%;
        background-color: #171716;
        display: flex;
        justify-content: space-around;
        position: absolute;
    }
    .cssButton{
        height: 90px;
        width: 18%;
        font-size: 38px;
        
    }
    .content{
        width: 30%;
        height: 120%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .progressbar::before{
        content: "";
        position: absolute;
        background-color: #e0e0e0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
        height: 16px;
        width: 80%;
        left: 10%;
        z-index: 1;
        transition: 0.4s ease; 
    }
    .progressbar {
       width: 25%;
       position:sticky;
       height: 50%;
       top: 85%;
    }
    .progress {
        position: absolute;
        background-color: rgba(5, 102, 141, 1);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 5px;
        height: 16px;
        width: 50%;
        z-index: 1;
        transition: 0.4s ease;
    }
    .circle{
        background-color: #fff;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        
        justify-content: center;
        align-items: center;
        border: 3px solid #e0e0e0;
        transition: 0.4s ease;
        
        font-size: 25px;
        font-family: Saira, sans-serif;
        font-weight: bold;
    }

}

/*///                                      DESIGN MOBI                  ///*/ 

@media screen and (max-width: 1024px){
  
 
}

/*///                                      DESIGN TABLET                ///*/
