.containera{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}
.content{
    align-items: center;
    width: 50%;
}
.progressbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.progressbar::before{
    content: "";
    position: absolute;
    background-color: #e0e0e0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 5px;
    height: 10px;
    width: 100%;
    z-index: 1;
    transition: 0.4s ease; 
}
.progress {
    position: absolute;
    background-color: rgba(90, 187, 226, 1);
    ;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 5px;
    height: 10px;
    width: 50%;
    z-index: 1;
    transition: 0.4s ease;
}
.circle{
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;
    z-index: 2;
    font-size: 15px;
    font-family: Saira, sans-serif;
    font-weight: bold;
}
.circle.active{
    background-color:rgba(5, 102, 141, 1);
    ;
    border-color: rgba(5, 102, 141, 1) ;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn{
    padding: 5px 20px;
    font-weight: bold;
    background-color: green;
    outline-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 0;
    margin: 5px;
    border-radius: 5px;
}
.btn.active{
    transform: scale(0.98);
}
.btn:focus{
    outline: none;
}
.btn:disabled{
    background-color: #999;
    cursor: not-allowed;

}

